* {
  margin: 0 auto ;
  padding: 0;
  
}
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.slider {
  width: 1200px;
  border-bottom: 2px solid #000;
  padding: 4px;
  margin: 0 auto;

}
img , .image {
  width: 100%;
  height: 500px;
  align-items: center ;
  

}

.left-arrow {
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
 margin: 0 auto;
  user-select: none;
}
.right-arrow {
 text-align: center;
  margin: 0 auto;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1.3s;
  transform: scale(1.01);
}